<launch>
    <arg name="file"  default="sample"/>
    <arg name="use_gazebo"  default="false"/>

    <include file="$(find pir2control)/launch/tf_blank.launch"/>

    <group if="$(arg use_gazebo)">
      <include file="$(find pir2_bringup)/launch/filtered_laser.launch"/>
      <node pkg="pir2_control" name="head_server" type="head_command.py" output="screen"/>
      <node pkg="pir2_control" name="head_trace_server" type="head_trace_server.py" output="screen"/>
    </group>

    <group unless="$(arg use_gazebo)">
      <node pkg="pir2_control" name="head_server" type="head_command_real_world.py" output="screen"/>
      <node pkg="pir2_control" name="display_server" type="display_teleop_show" output="screen" />
      <node pkg="pir2_control" name="head_trace_server" type="head_trace_server_real_world.py" output="screen"/>
    </group>
    <!-- <include file="$(find pir2_control)/launch/navigation_no_rviz.launch"/> -->

    <node pkg="pir2_control" name="motor_server" type="motor_command.py" output="screen"/>
    <!--node pkg="pir2_control" name="nav_server" type="nav_command.py" output="screen"/-->
    <node pkg="pir2_control" name="textfile_controller" type="frame_controller.py" output="screen">
        <param name="distance" value="0"/>
        <param name="file_name" value="$(arg file)"/>
    </node>
    <!--node pkg="pir_control" name="lidar" type="detect_obs.py" output="screen"/-->
    <node pkg="pir2_control" name="mimic_spt_to_cmd" type="mimic_spt" output="screen"/>




</launch>
