<?xml version="1.0"?>

<robot name="head_base_frame_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="head_frame_gazebo">

  <gazebo reference="head_base_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/LightGrey</material>
  </gazebo>

  <gazebo reference="tilt_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/LightGrey</material>
  </gazebo>
  <gazebo reference="pan_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/LightGrey</material>
  </gazebo>
  <gazebo reference="yaw_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/LightGrey</material>
  </gazebo>

</xacro:macro>

</robot>
